<div class="g  one-whole  desk-six-tenths">

  <article class="post">

    <h2><%= @post.title %></h2>

    Perpage:<%= params[:id] %>
    Page:<%= params[:page] %>

    <%= @post.content %>


    <br>
    <br>
    <br>
    <%= link_to '编辑', edit_post_path(@post) %> |
    <%= link_to '返回', posts_path %>

    <br>
    <br>
  </article>
</div>
<div class="g  one-whole  desk-three-tenths  desk-push_one-tenth">

  <%= link_to 'New Post', new_post_path %>

  <ul class="block-list">
    <li>
      <a href="http://inuitcss.com">
        <img src="/assets/inuit.css-logo.png" alt="inuit.css" class="logo">
      </a>
      <a href="http://inuitcss.com">inuit.css</a> is a powerful, scalable, Sass-based, BEM, OOCSS framework.
    </li>
  </ul>

</div>





