<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @route.title %>
</p>

<p>
  <b>Short title:</b>
  <%= @route.short_title %>
</p>

<p>
  <b>Tags:</b>
  <%= @route.tags %>
</p>

<p>
  <b>Category:</b>
  <%= @route.category_id %>
</p>

<p>
  <b>User:</b>
  <%= @route.user_id %>
</p>

<p>
  <b>Img path:</b>
  <%= @route.img_path %>
</p>

<p>
  <b>Banner path:</b>
  <%= @route.banner_path %>
</p>

<p>
  <b>Province:</b>
  <%= @route.province_id %>
</p>

<p>
  <b>City:</b>
  <%= @route.city_id %>
</p>

<p>
  <b>Duration:</b>
  <%= @route.duration %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
